@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

table#todo-list tbody{
  color: var(--color-gray-600);
}

form#add-new-task svg,
form#add-new-task input::placeholder{
  color: var(--color-gray-500);
}